@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html * {
    font-family: 'Open Sans', sans-serif;
}

img {
    object-fit: contain;
}

.box{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover{
    transform: scale(1.03, 1.03);
    box-shadow: 2px 2px 5px gray, -2px -2px 5px grey;
    cursor: pointer;
}

/* topページには3つだけを表示させる */
#top-project-container article:nth-child(-n+3){
    display: block;
}

#top-project-container article:nth-child(n+4){
    display: none;
}